$backgroundColor: #d6d6d6;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: #312f2f;
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
    color: #f51800;
  }

  header {
    background: #312f2f;
    border-bottom: 1px solid #eee;
    color: #f51800;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
